body {

    background-color: #2B3C53;
    margin-top: 15%;
    
    }


.container-fluid{

    
    background-color: #ffffff;
    position:fixed; 
    top: 0;
    left : 0;
    width: 100%;
    height: auto;
    z-index: 3000;
    
    
   
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-brand{

    font-size: 3em;
    color: #2B3C53;
   
    
}

.custom-text {
    position: relative;  
    top: 0.1em;
    font-size: 1em; 
}

.nav-item a {

    color: #2B3C53;
    font-size: 1.5em;
    margin:  0 2em;
    transition: transform 0.3s ease-in;
    max-width: fit-content;
   
}

.nav-item a:hover {

    transform: scale(1.25);
  
  }


.notifications-link {


    color: #2B3C53;
    font-size: 1.5em;
    transition: transform 0.3s ease-in;
    max-width: fit-content;
    
    
}


.navbar-nav.ms-auto {
    margin-right: 10em;
}




.dropdown-menu {

    position: absolute;
    top: 100%; 
    left: 0; 
    z-index: 2000; 
    margin-top: 0; 
  
}

.container {
    margin-top: 1%;
    background-color: grey;
    padding: 5%;
    border-style: solid;
    border-width: thick;
    border-color: #ffffff;
}



h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-left: 17.5%;
    
}

#dailyLineChart, #dailyBarChart, #weeklyLineChart, #weeklyBarChart {
    width:120%;
   
}


.card {

    transition: transform 0.3s ease-in;
}

.card:hover {

    transform: scale(1.10);

}





.row {
    width: 100%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
    
   
    
}



.dailySavingsContainer, .highestDailyHourContainer, .lowestDailyHourContainer, .highestWeeklyHourContainer, .lowestWeeklyHourContainer, .weeklySavingsContainer {
   background-color: #ffffff;
   width: 100%; 
   border-radius: 1em;
   font-size: 1em;
   transition: transform 0.3s ease-in;
}

.dailySavingsContainer:hover, .highestDailyHourContainer:hover, .lowestDailyHourContainer:hover, .highestWeeklyHourContainer:hover, .lowestWeeklyHourContainer:hover, .weeklySavingsContainer:hover {
  
    transform: scale(1.10);
 }


h2 {
    font-size: 2em;
    color: #2B3C53;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}




