body {

    background-color: #2B3C53;
    padding-top: 5%;
    }


.container-fluid{

    background-color: #ffffff;
    position:fixed; 
    top: 0;
    left : 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    
   
}

.navbar-brand{

    font-size: 4rem;
    color: #2B3C53;
    
}

.nav-item a {

    color: #2B3C53;
    font-size: 1.5rem;
    margin:  0 2em;
    transition: transform 0.3s ease-in;
    max-width: fit-content;
   
}

.nav-item a:hover {

    transform: scale(1.25);
  
 }
  
  
.dropdown-menu {
  
      position: absolute;
      top: 100%; 
      left: 0; 
      z-index: 2000; 
      margin-top: 0; 
}

.custom-text {
    position: relative;  
    top: 0.1em;
    font-size: 1em; 
}

.navbar-nav.ms-auto {
    margin-right: 10em;
}